/* CONQUISTAS */

.internacionais{
    font-family: Trebuchet MS, sans-serif;
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.title_conquistas{
    text-align: center;
    color: rgb(214, 0, 0);
}

.mundial{
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.descricao{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-right: 5px;
    padding-left: 5px;
}

.conquistas{
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.img_tacamundial{
    height: 200px;
    margin-left: 520px;
}

.img_equipemundial{
    height: 220px;
    width: 400px;
    margin-left: 420px;
}

.img_tacaliberta{
    height: 245px;
    margin-left: 510px;
}

.img_equipeliberta{
    height: 265px;
    width: 450px;
    margin-left: 400px;
}

.img_tacamercosul{
    height: 245px;
    margin-left: 510px;
}

.img_equipemercosul{
    height: 250px;
    width: 500px;
    margin-left: 400px;
}

.taca_brasileirao{
    height: 150px;
    margin-left: 110px;
}

.img_equipemercosul{
    height: 250px;
    width: 500px;
    margin-left: 400px;
}

.elenco_brasileiro{
    height: 270px;
    width: 370px;
    margin-left: 30px;
    margin-top: 70px;
}

.elenco_brasileiro2000{
    height: 300px;
    margin-left: 370px;
    margin-top: 50px;
}

.taca_cdb98{
    height: 200px;
    margin-left: 140px;
}

.taca_cdb12{
    height: 200px;
    margin-left: 220px;
}

.taca_cdb15{
    height: 200px;
    margin-left: 250px;
}

.elenco_cdb{
    height: 200px;
    margin-left: 65px;
}

.taca_paulista{
    height: 200px;
    margin-left: 110px;
}

.elenco_paulista{
    height: 220px;
    width: 300px;
    margin-left: 90px;
}

.elenco_paulista90{
    height: 230px;
    width: 380px;
    margin-left: 170px;
}

.elenco_paulista08{
    height: 250px;
    width: 600px;
    margin-left: 300px;
}

.taca_riosp{
    height: 200px;
    padding-left: 85px;
}

.elenco_riosp{
    height: 250px;
    width: 350px;
    padding-left: 55px;
}

.elenco_riosp00{
    height: 250px;
    width: 350px;
    margin-left: 255px;
}

.redes_sociais_conquistas{
    height: 120px;
    width: 100%;
    margin-top: 40px;
    border-top: rgb(148, 132, 72) 5px solid;
    font-family: Trebuchet MS, sans-serif;
}

.imgbottom{
    height: 130px;
    margin-left: 540px;
    margin-top: 10px;
}

.redesocial{
    height: 30px;
}

.lista_redes{
    margin-top: 35px;
    float: right;
    padding-right: 340px;
}

.lista_redes ul li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
}

.titulo_redes{
    color: rgb(148, 132, 72);
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    float: left;
    padding-top: 55px;
    padding-left: 300px;
}

.rodape_criado{
    color: rgb(148, 132, 72);
    font-family: Trebuchet MS, sans-serif;
    margin-left: 542px;
    font-size: 18px;
    padding-top: 130px;
    padding-bottom: 20px;
}

/* CONQUISTAS */