.titulo_body{
    text-align: center;
    color: rgb(214, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    font-family: Trebuchet MS, sans-serif;
}

.estadio{
    height: 530px;
    width: 40%;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    font-family: Trebuchet MS, sans-serif;
}

.infos_estadio{
    text-align: center;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    padding-right: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.infos_estadio .titulos_allianz{
    color: rgb(148, 132, 72);
    font-family: Trebuchet MS, sans-serif;
    padding-right: 5px;
    padding-left: 5px;
}

.allianz{
    height: 185px;
    padding-left: 10px;
}

.img_torcida{
    height: 185px;
}

.elenco{
    height: 530px;
    width: 40%;
    float: right;
    margin-top: 20px;
    margin-right: 80px;
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    font-family: Trebuchet MS, sans-serif;
}

.nomes_elenco{
    text-align: center;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.posicoes{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(148, 132, 72);
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    padding-left: 235px;
    text-transform: uppercase;
}

.hino{
    height: 820px;
    width: 40%;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    font-family: Trebuchet MS, sans-serif;
}

.autor_hino{
    height: 300px;
    width: 190px;
    float: left;
    padding-left: 10px;
}

.nome_autor{
    padding-left: 50px;
    color: rgb(148, 132, 72);
    text-transform: uppercase;
}

.letra{
   padding-left: 5px;
   float: right;
   margin-top: 0;
}

.letra_hino{
    color: rgb(148, 132, 72);
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.letra_hino2{
    color: rgb(214, 0, 0);
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.info_hino{
    color: white;
    text-transform: uppercase;
    margin-top: 80px;
    text-align: center;

}

.escutar-hino{
    color: rgb(148, 132, 72);
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.significados{
    height: 820px;
    width: 40%;
    float: right;
    margin-top: 20px;
    margin-right: 80px;
    border-bottom: rgb(148, 132, 72) 5px solid;
    border-top: rgb(148, 132, 72) 5px solid;
    border-left: rgb(148, 132, 72) 5px solid;
    border-right: rgb(148, 132, 72) 5px solid;
    font-family: Trebuchet MS, sans-serif;
}

.explicacao_escudo{
    text-align: center;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    padding-right: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.destaque_significados{
    text-align: center;
    color: rgb(148, 132, 72);
    font-family: Trebuchet MS, sans-serif;
    padding-right: 2px;
    text-transform: uppercase;
}

.escudo_significado{
    height: 120px;
    padding-left: 220px;
}

.escudo_significado1{
    height: 120px;
    padding-left: 210px;
}

.redes_sociais_home{
    height: 120px;
    width: 100%;
    margin-top: 1440px;
    border-top: rgb(148, 132, 72) 5px solid;
    font-family: Trebuchet MS, sans-serif;
}

.galeria-estadio{
    margin: 1px auto;
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.foto-allianzhome{
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.foto-allianzhome1{
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width: 500px;
}

.foto-allianzhome3{
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width: 500px;
}

.foto-allianzhome4{
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width: 500px;
}

.foto-allianzhome5{
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width: 500px;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform:scale(1.1,1.1)
    }

    50%{
        opacity: 0;
    }
}

.foto-allianzhome1:nth-child(1){

}

.foto-allianzhome:nth-child(2){
    animation-delay: 5s;
}

.foto-allianzhome3:nth-child(3){
    animation-delay: 10s;
}

.foto-allianzhome4:nth-child(4){
    animation-delay: 15s;
}

.foto-allianzhome5:nth-child(5){
    animation-delay: 20s;
}

.foto-allianzhome1:nth-child(6){
    animation-delay: 25s;
}